.image-center img{
    margin: auto;
    display: block;
    position: relative;
    max-height: 300px;
    margin-top: 100px;
    filter: grayscale;
    filter: grayscale(1) sepia(100%) hue-rotate(55deg) saturate(7) brightness(1) contrast(2);
}

.pip-footer {
    position: fixed;
    bottom: 0;
    width: calc(100% - 20px);
    margin: 10px;
}

@font-face{
    font-family: pipboy;
    src: url('monofonto.ttf');
}

body {
    color: #14fe17;
    background: #272b23;
    /* font-family: pipboy, serif; */
    font-family: 'Anton', sans-serif
}

body::after {
    height: 100%;
    width: 100%;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background:repeating-linear-gradient(0deg, rgba(0,0,0,0.5), rgba(0,0,0,0.4) 1px , transparent 1px , transparent 2px);
    opacity: 0.3;
    z-index: 10000000;
    pointer-events: none;
}

ul > li.nav-item > a.nav-link {
    color: #14fe17 !important;
    font-size: 32px;
    line-height: 22px;
    padding-bottom: 0;
}

.navbar {
    border-bottom: 2px solid;
    margin: 10px;
}
.navbar::before, .navbar::after {
    height: 5px;
    width: 2px;
    content: "";
    position: absolute;
    display: block;
    z-index: 500;
    background: #14f217;
    bottom: -6px;
}

.navbar::before {
    left: 0;
}
.navbar::after{
    right: 0;
}

.navbar-nav {
    width: 100%;
}

.navbar-light > .navbar-nav > .nav-item > .nav-link {
    /* width: 100%;
    margin: auto;
    position: relative;
    display: block; */
    z-index: 100;
    position: relative;
    background: #272b23;
}

.nav.nav-tabs {
    margin: 20px;
    border-bottom: none;
}
.nav.nav-tabs > .nav-item > .nav-link:hover {
    border : 1px solid transparent;
}
.nav-item.active::before {
    width: 20%;
    height: 22px;
    content: "" ;
    background:#272b23;
    position: absolute;
    top: 26px;
    left: 20px;
    border-left: 2px solid #14f217;
    border-right: 2px solid #14f217;
    border-top: 2px solid #14f217;
    z-index: 500;

}